[Unit]
Description=Vircle daemon
After=network.target

[Service]
User=vircle
Group=vircle

Type=forking
PIDFile=/home/vircle/.vircle/vircled.pid
ExecStart=/home/vircle/Vircle/vircled -daemon -pid=/home/vircle/.vircle/vircled.pid \
-conf=/home/vircle/.vircle/vircle.conf -datadir=/home/vircle/.vircle

ExecStop=/home/vircle/Vircle/vircle-cli -conf=/home/vircle/.vircle/vircle.conf stop
ExecStop=/usr/bin/sleep 25

Restart=no
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
